/* html {
  overflow: hidden !important;
}

.v-card {
  display: flex !important;
  flex-direction: column;
}

.v-card__text {
  flex-grow: 1;
  overflow: auto;
} */

html {
  overflow-y: auto !important;
}

* {
  font-family: "Poppins", sans-serif !important;
}

label.v-label.theme--light {
  margin-bottom: 0 !important;
}

.v-input--selection-controls {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

/* ::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  background: #C1C1C1;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #A6A6A6;
}
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 30px;
  box-shadow: inset 0px 0px 0px 0px #f0f0f0;
} */

.border-none {
  border: none !important;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f0f0f0;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 20px; /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid #f0f0f0; /* creates padding around scroll thumb */
}
